body {
  background: #ee0979;  /* fallback for old browsers */
  background: -webkit-linear-gradient(90deg, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(90deg, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

span {
  background: #e74c3c;
  margin-right: 20px;
  color: white;
  height: 40px;
  width: 0;
  display: inline-block; /* Fill the given proportion (40px*40px) with background of #e74c3c */
  text-align: center; /* Center icon in the span */
  transition: 0.2s linear; /* Slide from 0 to 40px width in 0.2s */
  opacity: 0;
}

li:hover span {
  width: 40px;
  opacity: 1;
}

#container {
  margin: 100px auto; /* margin: top/bot left/right */
  width: 360px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  background: #f7f7f7;
}

#list_header {
  background-color: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

#input_todo {
  color: #2980b9;
  width: 100%;
  font-size: 18px;
  background: #f7f7f7;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box; /* with this the 100% of width count padding and border, so input doesn't overflow container anymore */
  border: 3px solid rgba(0, 0, 0, 0); /* Make disapear the gap inside the input */
}

#input_todo:focus {
  background: white;
  border: 3px solid #2980b9;
  outline: none;
}

.hide {
  display: none;
}

.fa-plus {
  float: right;
}

.todo {
  background-color: #f7f7f7;
  height: 40px;
  line-height: 40px; /* In this whay the text will be centered horizontaly */
  color: #666;
}

.todo:nth-child(odd) { /* to only affect odd of class todo inside ul */
  background-color: white;
}

.did_todo {
  color: gray;
  text-decoration: line-through;
}
