body {
  background-color: purple;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#container {
  margin: 100px auto; /* margin: top/bot left/right */
  width: 25%;
  border: 1px solid black;
}

#list_header {
  background-color: blue;
  color: white;
  margin: 0;
}

#input_todo {
  width: 100%;
  text-indent: 10%;
}

#input_todo.hide {
  display: none;
}

.todo {
  background-color: white;
  /* padding-left: 10%; */
}

.todo:nth-child(odd) { /* to only affect odd of class todo inside ul */
  background-color: gray;
}

.did_todo {
  color: gray;
  text-decoration: line-through;
}

.delete_item_button {
  /* display: none; */
}
